[user]
  name = dimanu-py
  email = diegomtz126@gmail.com

[core]
  pager = delta
  editor = nano
  excludesfile = /home/dimanu/.gitignore
	autocrlf = input

[alias]
  local-name = config user.name
  local-email = config user.email
  author = commit --amend --author="dimanu-py <diegomtz126@gmail.com>"
  clear = reset --hard HEAD
  force = push --force-with-lease
  continue = rebase --continue
  stop = rebase --abort
  showalias = config --get-regexp alias
  lg = log --pretty='%C(red)%h%Creset%C(yellow)%d%Creset% s% C(cyan)(%ar)% Creset%C(magenta)% aN%Creset'
  new = lg main..HEAD
  missing = lg HEAD..main
  tree = lg --graph --decorate --oneline
  fixup = commit --fixup
  patch = add --patch

[commit]
  template = /Users/dimanu/.stCommitMsg

[pull]
  rebase = true

[rebase]
  autoStash = true
  autoSquash = true

[rerere]
  enabled = true

[interactive]
  diffFilter = diff-so-fancy --patch

[color]
  ui = true

[init]
  defaultBranch = main
