- name: Update pacman
  pacman:
    update_cache: yes

- name: Install dependencies
  pacman:
    name:
      - gum
      - python-terminaltexteffects
      - imagemagick
      - nano

- name: Install USB packages
  pacman:
    name:
      - udiskie
      - ntfs-3g

- name: Install browser
  community.general.yay:
    name:
      - brave-bin

- name: Install iwd for wifi management
  pacman:
    name:
      - iwd

- name: Enable iwd service
  become: yes
  systemd:
    name: iwd
    state: started
    enabled: yes

# ------ From Omarchy network.sh --------
# # Fix systemd-networkd-wait-online timeout for multiple interfaces
# # Wait for any interface to be online rather than all interfaces
# # https://wiki.archlinux.org/title/Systemd-networkd#Multiple_interfaces_that_are_not_connected_all_the_time
# sudo mkdir -p /etc/systemd/system/systemd-networkd-wait-online.service.d
# sudo tee /etc/systemd/system/systemd-networkd-wait-online.service.d/wait-for-only-one-interface.conf >/dev/null <<EOF
# [Service]
# ExecStart=
# ExecStart=/usr/lib/systemd/systemd-networkd-wait-online --any
# EOF

- name: Install package to control power balance
  community.general.yay:
    name:
      - power-profiles-daemon

- name: Install desktop applications
  community.general.yay:
    name:
      - brightnessctl  # Control brightness
      - playerctl  # Control media
      - pamixer  # Control volume
      - wiremix  # Control audio mix
      - wireplumber  # Session manager for pipe wire
      - wl-clip-persist  # Clipboard manager
      - nautilus  # File manager
      - sushi  # File pre-visualizer
      - ffmpegthumbnailer  # Banner generator
      - slurp  # Select regions on screen for screenshot
      - satty  # Annotate screenshots
      - mpv  # Media player
      - evince  # PDF viewer
      - imv  # Image viewer
      - wf-recorder  # Screen recorder for NVIDA
      - wl-screenrec  # Screen recorder for not NVIDIA

- name: Install bluetooth
  community.general.yay:
    name:
      - blueberry

- name: Enable blueberry service
  become: yes
  systemd:
    name: bluetooth
    state: started
    enabled: yes

- name: Install printer
  pacman:
    name:
      - cups 
      - cups-pdf 
      - cups-filters 
      - system-config-printer

- name: Enable printer service
  become: yes
  systemd:
    name: cups
    state: started
    enabled: yes
