- name: Install docker
  pacman:
    name:
      - docker 
      - docker-compose 
      - docker-buildx

- name: Ensure docker dir exists
  file:
    path: /etc/docker
    state: directory
    mode: '0755'

- name: Limit docker logs size
  copy:
    dest: /etc/docker/daemon.json
    content: |
      {
        "log_driver": "json-files",
        "log-opts": {
          " max-size": "10m",
          "max-file": "5"
        }
      }
    owner: root
    group: root
    mode: '0644'

- name: Start docker daemon
  become: yes
  systemd:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - docker
    - containerd

- name: Ensure docker group exists
  become: yes
  group:
    name: docker
    state: present

- name: Add user to docker group
  become: yes
  user:
    name: "{{ user }}"
    groups: docker
    append: yes

- name: Install lazy docker
  community.general.yay:
    name:
      - lazydocker-bin

- name: Install software tools
  community.general.yay:
    name:
      - visual-studio-code-bin
      - jetbrains-toolbox
      - postman-bin

- name: Copy VS Code from dotfiles
  become: false
  command: stow --adopt vs-code

- name: Install DBeaver
  pacman:
    name:
      - dbeaver

- name: Install uv
  shell: "curl -LsSf https://astral.sh/uv/install.sh | sh"
  args:
    executable: /bin/fish

- name: Install git pagckages
  pacman:
    name:
      - lazygit
      - diff-so-fancy
      - git-delta

- name: Setup git info
  command: |
    git config --global user.name "dimanu-py"
    git config --global user.email "dimanu.py@gmail.com"

- name: Copy git configuration files
  become: false
  file:
    src: "{{ home }}/.doftiles/gitconfig/{{ item }}"
    dest: "{{ home }}/{{ item }}"
    state: link
    force: yes
  loop:
    - .gitconfig
    - .gitignore